/* Twittler style sheet */

body {
	margin: 0px;
	background-color: LightBlue;
}

h1 {
	margin: 0px 0px 15px 0px;
	width: 100%;
	padding: 5px 10px;
	background-color: white;
	box-shadow: 0px 1px 2px gray;
}

hr {
	margin: 0;
	padding: 0;
}

#tweetDisplay {
	background-color: white;
	border-radius: 5px 5px 0px 0px;
	box-shadow: 0px 0px 5px #888888;
	width: 600px;
	margin: 0 auto;
}

#tweetDisplay h3 {
	border-radius: 5px 5px 0px 0px;
	background-color: AliceBlue;
	text-align: center;
	padding: 15px 0px;
	margin: 0 0;
}

#tweets {
	/**/
}

.tweet {
	border-bottom: 1px gray solid;
	padding: 10px 0px;
	width: 100%;
	
}

.message {
	margin: auto 10px;
	padding: 0 15px;
}

.username {
	color: black;
	font-weight: bold;
	margin: auto 10px;
	padding: 0 15px;
}

.timestamp {
	font-size: 90%;
	color: gray;
	font-style: italic;
	float: right;
	padding-right: 2%;
}